@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* These are variables that are later referenced in body */

  /* Text color */
  --foreground-rgb: 255, 255, 214;

  /* Background color / gradient */
  --background-rgb: 51, 51, 51;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.header {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
