@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* These are variables that are later referenced in body */

  /* Text color */
  --foreground-rgb: 255, 255, 214;

  /* Background color / gradient */
  --background-rgb: 51, 51, 51;

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  /* background: transparent; */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
  /* background: transparent; */
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.header {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scroll {
    width: 60px;
    height: 60px;
    border: 2px solid #fcffd6;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 18px;
      width: 18px;
      height: 18px;
      border-left: 2px solid #fcffd6;
      border-bottom: 2px solid #fcffd6;
      transform: rotate(-45deg);
    }
  }
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}